@charset "UTF-8";

html {
    overflow: hidden;
    
}

h2{
	font-size:50px;
	font-weight:bold;
	color:white;
	text-shadow:-3px 0 #df642b, 0 3px #df642b, 3px 0 #df642b, 0 -3px #df642b;
}
h1{
  position: relative;
  right:10%;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
.review3_table{
  width:800px;
  table-layout: fixed;
  
}
.tbl-header{

  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  width:300px;
  padding: 20px 15px;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  background-color:  #2d35af;
  text-transform: uppercase;
}
td{
  width:300px;
  padding: 15px;
  text-align: center;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  background-color:pink;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}
.btn_review_save{
	position:relative;
	width:100px;
	height:30px;
	background-color: orange;
	color:white;
	border:0;
}
.btn_review_edit{
	position:relative;
	left: 40%;
	top: 100px;
	background-color: orange;
	color:white;
	border:0;
}
.btn_review_delete{
	position:relative;
	left: 40%;
	top: 100px;
	background-color: orange;
	color:white;
	border:0;
}
.btnreview_update{
	position:relative;
	left: 40%;
	top: 100px;
	background-color: orange;
	color:white;
	border:0;
}
.btn_board_write{
	position:relative;
	left: 40%;
	top: 100px;
	background-color: orange;
	color:white;
	border:0;
}

/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
 /*  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4); */
  font-family: 'Roboto', sans-serif;
  color: white;

}
section{
  margin: 200px;
}


/* follow me template */
.made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}
.made-with-love i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #fff;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}