@charset "UTF-8";

html {
    overflow: hidden;
    
}
.sign_up{
	width: 150px;
	margin-left: 500px;
}
.joinform{
	width: 1000px;

	margin:0 auto;
}
.joinbtn{
	background-color: #2d35af;
	color: white;
	border:0;
	border-radius:5px;
	width: 120px;
	height:35px;
	font-size:15px;
	left: 45%;
	
}
#photo{
	background-color: transparent;
	border: 0;
}
.tbljoin th{
	height: 30px;
	width: 120px;
	padding: 10px;
	background-color:transparent;
	color: black;
	
}
.tbljoin tr{
	padding: 10px;
	padding-left:10px;
	padding-right:10px;
}
.tbljoin td{
	padding: 10px;

	background-color:  transparent;
	
	
}

.tbljoin {
	height: 500px;
	padding-bottom: 10px;

	
}
#idcheck{
	background-color:  #2d35af;
	border: 1px solid black;
}


